<div class="row">
	<div class="col-xl-6 col-xs-offset-3">
		<h1>Editing: <%= @comment.title %>!</h1>
		<%= render 'comments/form', 
			comment: @comment, 
			parent_comment_id: params[:parent_comment_id], 
			redirect: params[:redirect],
			post_id: params[:post_id] 
		%>
	</div>
</div>