<h2>By <%= @comment.author.username %></h2>
<p><%= @comment.content %></p>
<h3>Responses</h3>
<%= render @comment.child_comments %>
<%= render 'comments/form', 
  comment: Comment.new,
  parent_comment_id: @comment.id,
  post_id: @comment.post_id
%>