<div class="media">
	<div class="media-left media-middle">
		<%= vote_badge(post) %>
	</div>
	<div class="media-body">
		<h4><%= link_to(post.title, post_url(post)) %></h4>
		<p><%= post.content %></p>
	</div>
</div>
